<div class="table">
	<div class="rows">
		<div class="row">
			<div class="columns">
				<div class="cell row-header">Drivers</div>
				<div class="cell column-header" *ngFor="let column of columns">
					{{column}}
				</div>
			</div>
			<div class="columns" *ngFor="let row of rows">
					<div class="cell row-header">
						{{row}}
					</div>
					<ng-container *ngFor="let column of columns">
						<ng-container *ngFor="let item of sortedTable(row, column)">
							<div class="cell" [ngClass]="colorTable(item.Score)">
								{{item.Score}}
							</div>
						</ng-container>
					</ng-container>
				</div>
		</div>
	</div>
</div>
<div class="legend">
	<div class="legend-header">
		Legend
	</div>
	<div class="legend-colors">
		<div class="cell red"></div>
		<div class="cell light-red"></div>
		<div class="cell white"></div>
		<div class="cell light-blue"></div>
		<div class="cell blue"></div>
	</div>
	<div class="legend-range">
	 <span>Minimum</span>
	 <span>Median</span>
	 <span>Maximum</span>
	</div>
</div>